* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  font-size: 20px;
  background-color: crimson;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1 {
  margin-left: 20px;
  font-weight: 900;
  font-size: 4rem;
  text-transform: uppercase;
}
h2 {
  font-size: 3.5rem;
  margin: 5rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 3rem;
  margin: 5rem;
}
p {
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  margin: 5rem;
}

p span:hover {
  font-size: 4rem;
}

span:hover {
  color: whitesmoke;
}
/* Headers */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.top-nav ul {
  display: flex;
  list-style: none;
}

.top-nav li {
  margin: 0 30px;
}

a:hover {
  color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.main-page-content {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

/* class page */
.class {
  font-size: 2rem;
  margin: 5rem;
}

/* video containers */
.container {
  display: flex;
  margin: 2rem;
  padding: 1rem;
}

.workout-container {
  justify-content: space-evenly;
}

@media (max-width: 700px) {
  h1{
    font-size: 1.5rem;
  }

header{
  display: flex;
  flex-direction: column;
}
.main-page-content{
  line-height:2rem;
  font-size: 1rem;
  text-align: start;
}

